/* body {
  align-content: center;
  text-align: center;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #f8f8f8;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-right: 60px;
  padding-left: 60px;
}

li {
  list-style-type: none;
  text-align: center;
  border-width: 20px;
  margin: grey 10px;
}

img {
  width: 400px;
}

nav {
  align-content: left;
  text-align: center;
  background-color: #343d4e;
}

nav a {
  display: inline-block;
  padding: 15px;
  color: white;
}

.body-container {
  text-align: center;
  padding: 1%;
}

#products-names {
  color: #282c34;
}